<!-- user.dashboard.html -->
You are in the dashboard for :
<h1>{{dCtrl.theUser.name}}</h1>
<h5>{{dCtrl.theUser.role}}</h5>

<!-- Generate list of patients from returned GET request sorted by enrolled Clinican's username.  Returned patients names are made available as options and on selction fire function to capture their data -->
Select Patient
<select ng-options="patient.name for patient in dCtrl.thePatients" ng-model="dCtrl.selectedPatient" ng-change="dCtrl.fetchPatientRecord(dCtrl.selectedPatient)"></select>

 
<hr />
<p  ng-repeat="log in dCtrl.theGameLog" class="gamelog">{{log.gameDate}} </p>


